<h2>All Jobs for <%= @company.name %></h2>

<table class="table text-center">
<thead>
  <tbody>
    <tr>
      <% @company.jobs.each do |job| %>
        <td><%= link_to job.title, company_job_path(@company, job) %></td>
      <% end %>
    </tr>
  </tbody>
</thead>
</table>

  <%= render partial: 'companies/contact', collection: @company.contacts %>
  <%= render partial: 'contacts/form' %>
<br>

<buttontype="button" class="btn btn-info"><%= link_to "New job", new_company_job_path(@company, @job) %></button><br>
